.outerbox{
    background-color: beige;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    width: 150px;
    height: 250px;
    background-color: blueviolet;
    border: 2px solid black;
}
.container{
    display: flex;
    
}

.para1{
    background-color: bisque;
    flex: 1;
    order: 1;
}
.para2{
    background-color: darkkhaki;
    flex: 1;
    order: 3;
}
.para3{
    background-color:fuchsia;
    flex: 2;
    order: 2;
}
.para4{
    background-color: darkcyan;
    flex: 1;
    order: 4;
}
@media (min-width:801px){
    .container p{
        width: 30%;
        float: left;
        padding: 10px;
    }
}