body{
    background-color: antiquewhite;
}
.container{
    display:grid;
    grid-template-columns:repeat(3,1fr) ;
   gap: 20px;
   margin: 20px;
}
.para1{
    padding: 1rem;
    background-color: steelblue;
    color: whitesmoke;
} 